<div id="search-page-container">
  <div id="image-container">
    <img src="../../../assets/img/posturea-no-text.png" />
  </div>
  <div id="search-bar-container">
    <img src="../../../assets/img/search-icon.svg" />
    <input type="text" placeholder="Buscar..." [(ngModel)]="searcher" />
  </div>
  <div class="images-search-container">
    <div *ngFor="let b of filterProducts()">
      <img src="../../../assets/img/{{ b.imgSrc }}" />
    </div>
  </div>
  <app-navigation-bar></app-navigation-bar>
</div>
