<div id="search-page-container">
    <div id="image-container">
        <img src="../../../assets/img/posturea-no-text.png"/>
    </div>
  <div id="search-bar-container">
    <img src="../../../assets/img/search-icon.svg" />
    <input placeholder="Buscar..." />
  </div>
  <div id="images-search-cointainer">
    <img src="../../../assets/img/ardilla.jpg"/>
    <img src="../../../assets/img/ardillaSnoopDog.jpg"/>
    <img src="../../../assets/img/leon-marino.jpg"/>
    <img src="../../../assets/img/yo-cansao.jpg"/>
    <img src="../../../assets/img/ardilla.jpg"/>
    <img src="../../../assets/img/ardillaSnoopDog.jpg"/>
    <img src="../../../assets/img/leon-marino.jpg"/>
    <img src="../../../assets/img/yo-cansao.jpg"/>
  
  </div>

  <app-navigation-bar></app-navigation-bar>
</div>
