<div id="user-profile-card-container">
  <div id="user-image-container">
    <img src="../../../assets/img/foto-perfil.jpg" />
    <a routerLink="/settings"
      ><img src="../../../assets/img/settings-svgrepo-com.svg"
    /></a>
  </div>
  <div id="user-info-container">
    <div id="user-tittle">
      <span><p>@Kirian</p></span>
      <p>FullStackn`t</p>
    </div>
    <div id="user-profile-info">
      <div id="user-publications-container">
        <p>Publicaciones</p>
        <p>20</p>
      </div>
      <div id="user-following-container">
        <p>Seguidos</p>
        <p>30</p>
      </div>
      <div id="user-followers-container">
        <p>Seguidores</p>
        <p>-80</p>
      </div>
    </div>
  </div>
  <div id="user-images-container">
    <img src="../../../assets/img/ardilla.jpg" />
    <img src="../../../assets/img/ardillaSnoopDog.jpg" />
    <img src="../../../assets/img/foto-perfil.jpg" />
    <img src="../../../assets/img/gato-risa.jpg" />
    <img src="../../../assets/img/perro-buldog.jpg" />
    <img src="../../../assets/img/leon-marino.jpg" />
    <img src="../../../assets/img/yo-cansao.jpg" />
    <img src="../../../assets/img/ardilla.jpg" />
    <img src="../../../assets/img/ardilla.jpg" />
    <img src="../../../assets/img/ardillaSnoopDog.jpg" />
    <img src="../../../assets/img/foto-perfil.jpg" />
    <img src="../../../assets/img/gato-risa.jpg" />
    <img src="../../../assets/img/perro-buldog.jpg" />
    <img src="../../../assets/img/leon-marino.jpg" />
    <img src="../../../assets/img/yo-cansao.jpg" />
    <img src="../../../assets/img/ardilla.jpg" />
  </div>
</div>
