#nav-bar {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 76px;
    flex-shrink: 0;
    margin: 0;
    border: 1px solid rgba(255, 199, 199, 0.80);
    background: rgba(170, 170, 170, 0.90);
    box-sizing: border-box;
 
}

#nav-bar img {
    display: flex;
    width: 52px;
    height: 60px;
    flex-shrink: 0;
}