#form-container {
    border-bottom: 2px solid;
    width: 260px;
   
}
#form-container input {
border: 0px;
font-size: 22px;
  margin-top: 3px;  
  background-color: #EDE6E6;
}
#form-container label {

    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
        
    }