<div id="settings-container">
  <div id="tittle-container">
    <h1>Ajustes</h1>
  </div>
  <div id="image-container">
    <img src="../../../assets/img/posturea-no-text.png"/>
  </div>
  <div id="settings-options-container">
    <a  routerLink="/form-contact-page">Formulario de contacto</a>
    <a  routerLink="/start">Cerrar sesión</a>
    <!-- <button id="theme-mode-button" (click)="switchTheme()">
       {{ themeService.isDarkModeEnabled() ? 'Modo Claro' : 'Modo Oscuro' }}
    </button> -->
    <div id="theme-mode-button-container">
    <a id="theme-mode-button" (click)="switchTheme()">
      <img src="../../../assets/img/{{ themeService.isDarkModeEnabled() ? 'modo-claro.svg' : 'modo-oscuro.svg' }}"/>
      
   </a>
  </div>
  </div>
  <app-navigation-bar></app-navigation-bar>
</div>
