#button-container {
    display: flex;
    justify-content: center;
}

.button {
    cursor: pointer;
    display: flex;             
    justify-content: center;    
    align-items: center;     
    margin: 20px;
    width: 330px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid rgba(255, 199, 199, 0.70);
    background: rgba(170, 170, 170, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button p {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    margin: 0; 
}
