<div class="carousel-container">
    <img *ngFor="let b of images; let i = index" 
         [src]="'../../../assets/img/' + b.imgSrc" 
         [style.display]="i === slideIndex ? 'block' : 'none'">
    
    <button (click)="previousSlide()">&#10094;</button>
    <button (click)="nextSlide()">&#10095;</button>
  </div>
  
<div id="feed-page-card">
<app-publication-card [linkImage]="'../../../assets/img/perro-buldog.jpg'" [nameUser]="'@Elon Musk'" [messageUser]="'Perrazo'" [nameUserComments]="'@David Bisbal'" [messageUserComments]="'Fachero'"></app-publication-card>
<app-publication-card [linkImage]="'../../../assets/img/gato-risa.jpg'" [nameUser]="'@GatoWithBotas'" [messageUser]="'Atrapadoo'" [nameUserComments]="'@Bin Laden'" [messageUserComments]="'Bonito el michi'"></app-publication-card>
</div>
<app-navigation-bar></app-navigation-bar>