<div id="card-container">
  <div id="image-container">
    <img src={{linkImage}} />
  </div>
  <div id="icons-container">
    <button><img src="../../../assets/img/heart-svgrepo-com.svg" /></button>
    <button><img src="../../../assets/img/send-1-svgrepo-com.svg" /></button>
    <button>
      <img src="../../../assets/img/message-pending-svgrepo-com.svg" />
    </button>
  </div>
  <div id="user-name-message-container">
    <span><p>{{nameUser}}</p></span>
    <p>{{messageUser}}</p>
  </div>
  <div id="comments-title-container">
  <span><p>Comentarios</p></span>
</div>
  <div id="users-comments-container">
    <span><p>{{nameUserComments}}</p></span>
    <p>{{messageUserComments}}</p>
  </div>
  <div id="view-more-container">
    <span><p>Ver mas</p></span>
  </div>
</div>
